+font('proximanova-regular', 'proximanova-regular-webfont')
+font('proximanova-light', 'proximanova-light-webfont')
+font('proximanova-bold', 'proximanova-bold-webfont')
+font('proximanova-semibold', 'proximanova-semibold-webfont')

=reg
  font-family: 'proximanova-regular', Arial, sans-serif
=light
  font-family: 'proximanova-light', Arial, sans-serif
=bold
  font-family: 'proximanova-bold', Arial, sans-serif
=semi
  font-family: 'proximanova-semibold', Arial, sans-serif

=xl
  +r(1499)
    @content
=lg
  +r(1199)
    @content
=md
  +r(991)
    @content
=sm
  +r(767)
    @content
=xs
  +r(575)
    @content


body
  background: #FFF
  line-height: 1.4
  font-size: 16px
  +reg
  color: $c-text
  +no-scroll

.out
  overflow-x: hidden

.layout
  padding-top: 62px
  +cover
  background-position: 50% 0
  // +md
  //   padding-top: 147px
  &__inner
    background-color: #fff
    padding-top: 20px
    padding-bottom: 20px
    +md
      border-top: 1px solid $c-gray

  &--tabs
    +md
      padding-top: 147px
  &--page
    padding-top: 0
    // max-width: 800px
    // margin-left: auto
    // margin-right: auto
    .logo
      margin-bottom: 20px

  
.btn
  display: inline-flex
  align-items: center
  justify-content: center
  background-color: $c-accent
  color: #fff
  font-size: 16px
  min-width: 229px
  border-radius: 13px
  text-align: center
  padding: 11px 30px
  .icon
    fill: currentColor
    font-size: 24px
    margin-left: 10px
    transition: fill .3s
  &--full
    min-width: 0
  &--log
    +md
      font-size: 0
      color: transparent
      padding: 0
      background-color: transparent
      .icon
        font-size: 32px
        fill: $c-accent
  &--square
    border-radius: 0

.link
  +reg
  font-size: 14px
  color: #7ba0fd
  text-decoration: underline
