<!-- begin layout -->
<section class="layout" style="background-image: url('img/bg-farmer.jpg');">
  <div class="layout__inner">

    <div class="container">
      <div class="farmer-tabs js-tabs">
        <div class="row">
          <div class="col-12">
            <div class="farmer-tabs__tabs">
              <a href="#" class="farmer-tabs__tab js-tab is-active" data-target-tab="audit">Дані аудиту грунту</a>
              <a href="#" class="farmer-tabs__tab js-tab" data-target-tab="recommend">Рекомендації по внесенню добрив</a>
              <a href="#" class="farmer-tabs__tab js-tab" data-target-tab="history">історія прорахунків</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="farmer-tabs__content">
              {% include "partials/_farmer-audit.html" %}
              {% include "partials/_farmer-recommend.html" %}
              {% include "partials/_farmer-history.html" %}
            </div>
          </div>

          <div class="col-lg-4">
          {% include "partials/_banner.html" %}
        </div>
        </div>
      </div>
    </div>
    
  </div>
  
</section>
<!-- end layout -->