.icon-call {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 950.32em;
  height: 1em;
  fill: initial;
}
.icon-sign-out {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1.09em;
  height: 1em;
  fill: #231F20;
}
