.banner
  text-align: center
  padding: 20px 30px 35px
  background-color: $c-gray
  +xl
    padding: 20px
  +md
    margin-bottom: 20px
  &__text
    +reg
    font-size: 18px
    color: $c-text-100
    margin-bottom: 30px
    +lg
      font-size: 16px
      margin-bottom: 20px
    +xs
      font-size: 14px
      margin-bottom: 10px
  &__img
    +cover
    padding-top: 60%
    margin-bottom: 30px
    +lg
      margin-bottom: 20px
    +md
      display: none
  &__name
    color: $c-text-100
    font-size: 30px
    +bold
    +lg
      font-size: 26px
    +xs
      font-size: 21px
  &__phone
    font-size: 36px
    color: $c-accent
    +reg
    +lg
      font-size: 28px
    +xs
      font-size: 24px