.farmer-tabs
  padding-top: 20px
  &__tabs
    padding-left: 147px
    margin-top: -70px
  &__tab
    display: inline-block
    vertical-align: top
    font-size: 16px
    +light
    text-transform: uppercase
    padding: 14px 20px
    color: #fff
    background-color: $c-text
    &.is-active
      background-color: #fff
      color: #000
  &__content
  &__item
    display: none
    &.is-active
      display: block
    

.farmer-meta
  &__title
    margin-bottom: 20px
  &__block
    padding-bottom: 30px
    border-bottom: 1px solid  $c-gray
    margin-bottom: 25px
    &.is-last
      border-bottom: 0
      padding-bottom: 0
  &__form-top
    display: flex
    justify-content: space-between
    padding-bottom: 30px
    border-bottom: 1px solid  $c-gray
    margin-bottom: 25px
    .select, .input
      flex-grow: 1
      &:not(:last-child)
        margin-right: 12px
  &__btn-center
    text-align: center

.farmer-inputs
  font-size: 0
  margin-bottom: 30px
  .input
    // display: inline-block
    vertical-align: top
    width: 46%
    margin-bottom: 10px
    &:nth-child(odd)
      margin-right: 8%
